<form action="/" method="post" enctype="multipart/form-data">
    <h3>Upload Profile Photo</h3>
    <input type="file" name="sampleFile" accept="image/*" />
    <button type="sumbit" class="btn btn-primary">Submit</button>
</form>


<div class="card">
    <img src="/img/default.jpg" alt="User Profile" class="card__image">
    <h1 class="card__title">Your Name</h1>
    <div class="card__job">We Developer</div>
    <p class="card__about">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem ratione, eius distinctio delectus dolorum voluptatum.
    </p>
    <button type="button" class="btn btn-primary">View Profile</button>

</div>