<div class="row-6">
    <div class="form-floating mb-3">
      <input type="email" class="form-control" id="floatingInput" placeholder="email@email.com" name="email">
      <label for="floatingInput">Email</label>
    </div>
  </div>
  <div class="row-6">
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="floatingInput" placeholder="Password" name="email">
      <label for="floatingInput">Password</label>
    </div>
  </div>