{{!-- FACES --}}
{{!-- <a href="/back" class="btn btn-warning">Back</a> --}}
<section class="p-5">
    <div class="container">
        <div class="row text-center g-4">
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://img.freepik.com/free-vector/realistic-casino-background_52683-7266.jpg?w=740&t=st=1675413683~exp=1675414283~hmac=ceb34add14a96be235fd54fe2ef6cd6dc2ad0456245f42fcd1f57e7fb2495102"
                                class="rounded-circle mb-3" width="200" height="200" alt="roullete.png">
                        </div>
                        <h3 class="card-title text-warning mb-3">
                            Book Of Ra
                        </h3>
                        <a href="../public/Book_of_Ra_html5/index.html" class="btn btn-warning">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://img.freepik.com/free-psd/3d-rendering-casino-elements_23-2149586674.jpg?w=740&t=st=1675413576~exp=1675414176~hmac=b419ce5b62ccfd547f4859665c6fd1e39e07f2356afc5dc593440162097a8b68"
                                class="rounded-circle mb-3" width="200" height="200" alt="">
                        </div>
                        <h3 class="card-title text-warning mb-3">
                            Castle
                        </h3>
                        <a href="../public/Castle_html5/index.html" class="btn btn-warning">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://img.freepik.com/free-vector/big-win-slot-concept-realistic-style_52683-8400.jpg?w=740&t=st=1675413530~exp=1675414130~hmac=7108ce05f0843fd5f94b2b351b22c42b1a4d95a887fad9f8c4b03aa9a0f858b2"
                                class="rounded-circle mb-3" width="200" height="200" alt="">
                        </div>
                        <h3 class="card-title text-warning mb-3">
                            Christmas
                        </h3>
                        <a href="../public/Christmas_html5/index.html" class="btn btn-warning">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://img.freepik.com/free-vector/big-win-slot-concept-realistic-style_52683-8400.jpg?w=740&t=st=1675413530~exp=1675414130~hmac=7108ce05f0843fd5f94b2b351b22c42b1a4d95a887fad9f8c4b03aa9a0f858b2"
                                class="rounded-circle mb-3" width="200" height="200" alt="">
                        </div>
                        <h3 class="card-title text-warning mb-3">
                            Halloween
                        </h3>
                        <a href="../public/HalloweenSlot_html5/index.html" class="btn btn-warning">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://img.freepik.com/free-vector/big-win-slot-concept-realistic-style_52683-8400.jpg?w=740&t=st=1675413530~exp=1675414130~hmac=7108ce05f0843fd5f94b2b351b22c42b1a4d95a887fad9f8c4b03aa9a0f858b2"
                                class="rounded-circle mb-3" width="200" height="200" alt="">
                        </div>
                        <h3 class="card-title text-warning mb-3">
                            Infinity Stones
                        </h3>
                        <a href="../public/InfinityStones_html5/index.html" class="btn btn-warning">Play</a>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card bg-dark text-light">
                    <div class="card-body text-center">
                        <div class="h1 mb-3">
                            <img src="https://img.freepik.com/free-vector/big-win-slot-concept-realistic-style_52683-8400.jpg?w=740&t=st=1675413530~exp=1675414130~hmac=7108ce05f0843fd5f94b2b351b22c42b1a4d95a887fad9f8c4b03aa9a0f858b2"
                                class="rounded-circle mb-3" width="200" height="200" alt="">
                        </div>
                        <h3 class="card-title text-warning mb-3">
                            SlotMachines
                        </h3>
                        <a href="#" class="btn btn-warning">Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{{#each rows}}
<div class="row">
    <div class="container">
        <label class="label label-default text-center bg-dark text-warning" style="
                background-color: rgb(99, 43, 17);
                border: 0;
                display: block; 
                width: 100px;
                border-radius: 12px;
                color: #FFFFFF;
                cursor: pointer;
                display: inline-block;
                font-family: -apple-system,system-ui," Segoe UI",Roboto,Helvetica,Arial,sans-serif; font-size: 16px;
            font-weight: 500; line-height: 2.5; outline: transparent; padding: 0 1rem; text-align: center;
            text-decoration: none; transition: box-shadow .1s ease-in-out; user-select: none; -webkit-user-select: none;
            touch-action: manipulation; white-space: nowrap; float: left; margin-left: 125px;" width="200" height="200"
            id="set2_input" name="set2_input"> {{this.credits}}
        </label>
    </div>
</div>
{{/each }}